<launch>

  <!--initiates turtlesim and allows keyboard to publish to velocity-->
    <node pkg="turtlesim" type="turtlesim_node" name="sim"/>
    <node pkg="turtlesim" type="turtle_teleop_key" name="teleop" output="screen"/>

    <!--creates the "asteroid field" and "missiles"-->
    <node pkg="learning_tf2" type="createTurtles.py"
          name="createField" output="screen"/>
    <!--publishes coords to tf for all turtles-->
    <node pkg="learning_tf2" type="bcOptimized.py"
          name="bcOptimized" output="screen"/>
    <!-- interperts publishes tf coords to create interactions in chase game-->
    <node pkg="learning_tf2" type="turtleHandler.py"
          name="turtleHandler" output="screen"/>
</launch>
